@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


:root {
    --color-red:#F03C42;
    --bg-lght-gray: #E5E5E5;
    --text-gray: #5E5E5E;
    --color-yellow: #FFF964;
    --color-white: #FFF;
    --color-green: #02BB18
}

* {
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

a, a:hover {
    color: unset;
    text-decoration: none;

}

header {
    background-color:var(--color-red) ;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}


nav h1 {
    color:var(--color-yellow);
    font-size: 24px;
    text-align: center;

}



.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

#pizzas {
    padding: 20px 15px;
    background-color: var(--bg-lght-gray);
    
}

.pizza-card {
    display: flex;
    margin: 20px 0px ;
}

.pizza-card img { 
    border-radius: 12px 0px 0px 12px;
    width: 200px;
    
}

.pizza-card-descripition {
    background-color: var(--color-white);
    border-radius: 0px 12px 12px 0px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pizza-card-descripition h3 {
  color: var(--text-gray);
  font-size: 24px;
}

.pizza-card-descripition p {
    color: var(--text-gray);
    font-size: 14px;
}

.pizza-card-descripition h4 {
  color: var(--color-green);
  font-size: 24px;
}


#comments {

    padding: 20px 15px;
    
}

#comments h2 {
    text-align: center;
    font-size: 32px;
    color: var(--text-gray);
    margin-bottom: 40px;
}


.card-comments {
    padding: 25px 20px;
    background-color: var(--color-yellow);
    color: var(--color-red);
    border-radius: 12px;
    margin: 20px 0px;
}

footer {
    height: 120px;
    background-color: var(--color-red);
    color: var(--color-yellow);
    display: flex;
    align-items: center;
    padding: 0px 15px;
    
}

.footer-content {
    display: flex;
    justify-content: space-between;

}

.footer-content a {
    font-size: 16px;
    
}


